.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fixed .menu {
  overflow: auto;
}

.rating {
  height: 30px;
  width: 30px;
}

.icon {
  height: 50px;
  width: 50px;
}

.smallDisplay {
  height: auto;
  width: 100px;
}

.profPic {
  width: 300px;
  height: auto;
  float: left;
}

.beerDisplay {
  width: 250px;
  height: auto;

}

.recipeDisplay {
  float: left;
  text-overflow:clip;
  max-height: 400px;
}

.ui.card {
  word-break: break-all;
}

p {
  text-overflow:clip;
}

.imgUpload {
  padding-top: 20px;
  clear: right;
  float: left;
}

.recipeContainer {
  float: right; 
}

.followingContainer {
  clear: both;
}