@import url('https://fonts.googleapis.com/css?family=Oswald');

.App {
  text-align: center;
  background-color: rgba(0,0,0,.1);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  font-family: 'Muli', sans-serif;
}

.App-intro {
  font-size: large;
  font-family: 'Muli', sans-serif;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fixed .menu {
  overflow: auto;
}

.rating {
  height: 30px;
  width: 30px;
}

.icon {
  height: 100px;
  width: auto;
}

.smallDisplay {
  height: auto;
  width: 100px;
}

.profPic {
  width: 300px;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.beerDisplay {
  width: 250px;
  height: auto;
}

img.recipePic {
  width: 300px;
  height: auto;
}

.ui.card {
  word-break: break-all;
}

.recipeContainer {
  margin-top: 20px;
}

.recipeContainer .recipeDisplay .beerDisplay {
  width: 150px; 
  height: auto; 
}

div.ui.menu {
  background-color: rgba(0, 62, 73, .8);
  font-family: 'Oswald', sans-serif;
}

button.ui.button {
  background: rgba(207, 212, 215, .8);
}

div.ui.menu a {
  margin: auto; 
  font-family: 'Oswald', sans-serif;
}

div.ui.three.cards {
  margin-left: 50px;
  margin-right: 50px;
}

div.ui.header a {
  font-family: 'Oswald', sans-serif;
}

.description.recipeDescription {
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipeForm {
  max-width: 800px;
  margin: auto;
}

.followingContainer {
  max-width: 800px
}

.savedRecipes {
  margin-top: 20px;
  max-width: 800px;
  max-height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

button.ui.button.chatTop {
  position: fixed;
  bottom: 380px;
  right: 20px;
  width: 300px;
  padding-left: 10px;
  background-color: rgba(90,174,238,1);
  font-size: 1.2em;
}

button.ui.button.chatSubmit {
  background-color: rgba(90,174,238,1);
  font-size: 1.2em;
}

.chatSubmit {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 300px;
  padding-left: 10px;
  background-color: rgba(229,229,229,1);
  
}
h2 {
  font-family: 'Oswald', sans-serif;
}
div h1 {
  font-family: 'Oswald', sans-serif;
}
#root > div > div.ui.relaxed.grid > div:nth-child(1) > div.center.aligned.four.wide.column > div {
  margin: auto;
}
#root > div > div.ui.relaxed.grid > div:nth-child(1) > div.center.aligned.four.wide.column > h1 {
  font-size: 4em;
  margin-bottom: 0px;
}
div.ui.segment h2 {
  font-family: 'Oswald', sans-serif;
}
button.ui.button {
  font-family: 'Muli', sans-serif;
  background-color: rgba(112,174,151,1);
}
.chat {
  position: fixed;
  bottom: 30px;
  right: 20px;
  height: 350px;
  overflow: scroll;
  width: 300px;
  background-color: rgba(229,229,229,1);
  box-shadow: 10px 10px 5px rgba(0,0,0,.3);
}

p.welcome {
  color: rgba(255,255,255,1);
  font-size: 2em;
  padding: 100px;
}

#react-select-2--value > div.Select-input > input {
  border: 0px;
}

#root > div > div.recipeForm > form > div:nth-child(1) {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.ui.menu .item>a {
  text-transform: uppercase;
    color: white;
    font-weight: 200;
    letter-spacing: 0.5px;

}
.welcomeDiv {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+50,0e0e0e+50&0+0,0.5+15,1+49,0.5+86,0+100 */
background: -moz-linear-gradient(top, rgba(125,126,125,0) 0%, rgba(107,108,107,0.5) 8%, rgba(92,92,92,0.5) 15%, rgba(16,16,16,1) 49%, rgba(14,14,14,0.99) 50%, rgba(14,14,14,0.5) 86%, rgba(14,14,14,0.5) 93%, rgba(14,14,14,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(125,126,125,0) 0%,rgba(107,108,107,0.5) 8%,rgba(92,92,92,0.5) 15%,rgba(16,16,16,1) 49%,rgba(14,14,14,0.99) 50%,rgba(14,14,14,0.5) 86%,rgba(14,14,14,0.5) 93%,rgba(14,14,14,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(125,126,125,0) 0%,rgba(107,108,107,0.5) 8%,rgba(92,92,92,0.5) 15%,rgba(16,16,16,1) 49%,rgba(14,14,14,0.99) 50%,rgba(14,14,14,0.5) 86%,rgba(14,14,14,0.5) 93%,rgba(14,14,14,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007d7e7d', endColorstr='#000e0e0e',GradientType=0 ); /* IE6-9 */ /* IE6-9 */}

h1.ui.header {
  font-family: 'Oswald', sans-serif;
}

* {
  font-family: 'Muli', sans-serif;
}

#root > div > div:nth-child(2) > div > div > div:nth-child(5) > div > div:nth-child(1) > div {
  height:600px;
}

div.ui.segment.container {
  background-color: rgba(255,185,0,.5);
  min-height: 400px;
}

div.half-container {
  min-height: 180px;
  margin: auto;
}

div.group-events {
  float: right;
  min-height: 400px;
  width: 60%;
}

div.ui.segement.events {
  min-height: 400px;
}

div.event-map {
  max-width: 60%;
  max-height: 400px;
  float: left;
  clear: left;
}

div.basic-margins {
  max-width: 1000px; 
  margin: auto;
}

.group-info {
  float: left;
  clear: left; 
  max-width: 250px;
}

div h3 {
  font-family: 'Muli', sans-serif;
}

div.nav {
  width: 100vw;
}
