.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fixed .menu {
  overflow: auto;
}

.rating {
  height: 30px;
  width: 30px;
}

.icon {
  height: 50px;
  width: 50px;
}

.smallDisplay {
  height: auto;
  width: 100px;
}

.profPic {
  width: 300px;
  height: auto;
  margin-top: 20px;
}

.beerDisplay {
  width: 250px;
  height: auto;

}

.recipeDisplay {
  float: left;
  text-overflow:clip;
  max-height: 400px;
}

.ui.card {
  word-break: break-all;
}

.recipeContainer {
  margin-top: 20px;
}

.recipeContainer .recipeDisplay .beerDisplay {
  width: 150px; 
  height: auto; 
}

div.ui.menu {
  background-color: #c1c1c1;
}

button.ui.button {
  background: #c1c1c1;
}

div.ui.text.vertical.menu {
  margin: auto; 
}

div.ui.three.cards {
  margin-left: 50px;
  margin-right: 50px;
}

.description.recipeDescription {
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipeForm {
  max-width: 800px;
  margin: auto;
}

.followingContainer {
  max-width: 800px
}

.savedRecipes {
  margin-top: 20px;
  max-width: 800px
}

.chatSubmit {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 300px;
  padding-left: 10px;
  background-color: rgba(229,229,229,1);
  
}

.chat {
  position: fixed;
  bottom: 30px;
  right: 20px;
  height: 50%;
  overflow: scroll;
  width: 300px;
  background-color: rgba(229,229,229,1);
  border: solid black 1px;
  box-shadow: 10px 10px 5px #888888;
}